<div class="background-container"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Kategorije</h3>
      <ul>
        <li *ngFor="let kategorija of kategorije" (click)="odaberiKategoriju(kategorija)">{{ kategorija.naziv }}</li>
      </ul>
    </div>
    <div class="col-md-9">
      <h3>Odabrana Kategorija: {{ odabranaKategorija?.naziv }}</h3>
      <div *ngIf="odabranaKategorija">
          <div *ngFor="let meni of meniUKategoriji">
            <div class="tekst-jela">
              <h5 class="naziv-jela">{{ meni.naziv }}</h5>
              <span class="dotted-line"></span>
              <p class="opis-jela">{{ meni.opis }}</p>
              <p class="cijena-jela">{{ meni.cijena }} KM</p>
              <input type="number" class="form-control" [(ngModel)]="meni.quantity" (change)="Promjena(meni.quantity,meni.id)" >

            </div>

          </div>

      </div>
    </div>
  </div>
</div>
