
.background-container {
  background-image: url('src/assets/pozadina.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
*{
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}

.col-md-9 {
  width: 80%;
  height: 100%;
  margin-top: 35px;
}

.col-md-3 {
  width: 20%;
  height: 100%;
  margin-top:120px;
  color:white;
}
.naziv-kategorije{
  padding-top: 15px;
}
.tekst-jela{
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  color:white;
}
.odabrana-kategorija{
  margin-bottom: 30px;
  color:white;
}

.jela-container {
  display: flex;
  flex-wrap: wrap;
}

.jelo {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.slika-jela{
  border-radius: 8%;
  width: 200px;
  height: 150px;
}
.dugmeDodaj{
  background-color: green;
  size:auto;
  color:white;
  margin-top: 5px;
  opacity: 80%;
}
.privremenaForma{
  color:white;
}
.korpa{
  color:white;
}
.ukupnaCijena{
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 30px;
}

.result-container {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result-title {
  font-size: 20px;
  margin: 0;
}

.result-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.result-property {
  font-weight: bold;
}

.result-value {
  font-weight: normal;
}
/* Apply styles to the Aggregated Data container */
#aggregated-data-container {
  background-color: #f3f3f3;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

/* Style the header */
#aggregated-data-container h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Style each data entry */
.data-entry {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

/* Style specific data elements */
.data-entry .header {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Add spacing and border to the JSON data */
.data-entry .json-data {
  border: 1px solid #ddd;
  padding: 10px;
  white-space: pre-line;
}

/* Add some spacing to individual data elements */
.data-entry .data-element {
  margin-bottom: 5px;
}

/* Style specific elements */
.data-entry .kartica {
  color: blue;
  font-weight: bold;
}

.data-entry .cijena {
  color: green;
  font-weight: bold;
}

.data-entry .telefon {
  color: #3333cc;
  font-weight: bold;
}

.data-entry .adresa-dostave {
  color: #ff6600;
  font-weight: bold;
}
