<div class="background-container"></div>

<h1 class="header">Restaurant Menu</h1>

<button class="button-add" style="margin-right: auto; width: 10%; margin-top: 10px" (click)="otvoriFormu = true">Dodaj novi Meni</button>

<div class="modal fade show" id="exampleModalLive" *ngIf="otvoriFormu" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Dodaj novi Meni</h5>
        <button type="button" (click)="otvoriFormu = false" class="btn-close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naziv</label>
          <input [(ngModel)]="meniAddVM.Naziv" class="form-control" placeholder="Naziv"/>
        </div>
        <div class="mb-3">
          <label class="form-label">Opis</label>
          <input [(ngModel)]="meniAddVM.Opis" class="form-control" placeholder="Opis" />
        </div>
        <div class="mb-3">
          <label class="form-label">Cijena</label>
          <input [(ngModel)]="meniAddVM.Cijena" class="form-control" placeholder="Cijena"/>
        </div>
        <div class="mb-3">
          <label class="form-label">Slika</label>

          <input #fileInput [(ngModel)]="meniAddVM.Slika" type="file" (change)="onSelectNewFile()" accept="image/*"/>


          <img id="previewImage" [src]="imageUrl" height="200"  />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="otvoriFormu = false">Close</button>
        <button type="button" class="btn btn-primary" (click)="SpasiMeni()">Spasi</button>
      </div>
    </div>
  </div>
</div>
