<router-outlet></router-outlet>

<div class="nav">
  <span class="restaurant-name">Husin Konak</span>
  <div class="nav-links">
    <a class="nav-link" routerLink="/main">Početna</a>
    <a class="nav-link" routerLink="/restaurant">O Nama</a>
    <a class="nav-link" class="Underline"  routerLink="/contact">Kontakt</a>
  </div>
</div>


<div class="wrapper-box">
  <div class="container">
    <h2 class="text-center mb-5">Kontaktirajte nas</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">

          <div class="form-group">
            <label >Email</label>
            <input
              type="email"
              class="form-control"
              name="Email"
              aria-describedby="emailHelp"
              placeholder="Unesite email"
              formControlName="Email"
            />
            <small id="emailHelp" class="form-text text-muted"
            >Mi nećemo dijeliti Vaš Email.</small
            >
          </div>
          <div class="form-group">
            <label >Ime</label>
            <input
              type="text"
              class="form-control"
              name="Ime"
              placeholder="Ime"
              formControlName="Ime"
            />
          </div>

          <div class="form-group">
            <label>Vaš sadržaj</label>
            <textarea
              class="form-control"
              formControlName="Unesite vaš sadraj"
              name="Koment"
            >
            </textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
          >
            Pošalji
          </button>
      </div>
    </div>
  </div>
</div>
