<ul class="nav  nav-lg  pb-2 pt-2" style="background-color:rgb(59,59,59)">
 <li class="nav-item" *ngIf="!loginInfo().isLogiran" >
    <a class="nav-link " routerLink="/login" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/pocetna" routerLinkActive="active">Početna</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/oprema" routerLinkActive="active">Meni</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isPremisijaAdmin">
    <a class="nav-link " routerLink="/korisnici" routerLinkActive="active">Korisnici</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/galerija" routerLinkActive="active">Galerija</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/forum" routerLinkActive="active">Forum</a>
  </li>
  <div class="dropdown" *ngIf="loginInfo().isLogiran">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Profil
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/postavke-profila">Postavke profila</a></li>
      <li><a class="dropdown-item" (click)="odjava()">Odjava</a></li>
    </ul>

  </div>
  <div class="logo">
    <a href="/">
      <img src="assets/logo.png" alt="Caffe &amp; Restaurant Perla logo">
    </a>
  </div>
</ul>

<div class="container">

  <router-outlet></router-outlet>
</div>

