.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #24243e;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  justify-content: space-between;
}

.nav-link {
  float: right;
  margin: 5%;
  color: white;
  text-decoration: none;
}
