<router-outlet></router-outlet>

<div class="nav">
  <span class="restaurant-name">Husin Konak</span>
  <div class="nav-links">
    <a class="nav-link Underline" routerLink="/main">Početna</a>
    <a class="nav-link" routerLink="/restaurant">O Nama</a>
    <a class="nav-link" routerLink="/contact">Kontakt</a>
  </div>
</div>
<div class="container">
  <div class="background-image">
    <img src="../assets/Images/slika_main.jpg" alt="Image" class="background-image">
  </div>

  <div class="content">
    <h1>Dobrodošli u Restoran</h1>
    <p class="description">Restoran je savršeno mjesto za uživanje u vrhunskoj hrani i ugodnoj atmosferi.</p>

    <div class="flex-container">
      <div class="working-hours">
        <h2>Radno vrijeme</h2>
        <ul>
          <li>Ponedjeljak - Petak: 10:00 - 22:00</li>
          <li>Subota - Nedjelja: 12:00 - 23:00</li>
        </ul>
      </div>

      <div class="reservation-form">
        <h2>Rezervacija</h2>
        <form (ngSubmit)="onSubmit(reservationForm.value)" #reservationForm="ngForm">
          <div class="form-group">
            <label>Ime i prezime</label>
            <input type="text"
                   class="form-control"
                   name="fullName"
                   [(ngModel)]="reservationForm.value.fullName"
                   required>
          </div>
          <div class="form-group">
            <label>Broj telefona</label>
            <input type="tel"
                   class="form-control"
                   name="phoneNumber"
                   [(ngModel)]="reservationForm.value.phoneNumber"
                   required>
          </div>
          <div class="form-group">
            <label>Broj gostiju</label>
            <input type="number"
                   class="form-control"
                   name="numberOfGuests"
                   [(ngModel)]="reservationForm.value.numberOfGuests"
                   required>
          </div>
          <div class="form-group">
            <label>Datum i vrijeme</label>
            <input type="datetime-local"
                   class="form-control"
                   name="dateTime"
                   [(ngModel)]="reservationForm.value.dateTime"
                   required>
          </div>
          <button type="submit" class="btn-reserve">Rezerviši</button>
        </form>
      </div>
    </div>
  </div>
</div>
