<router-outlet></router-outlet>

<div class="nav">
  <span class="restaurant-name">Husin Konak</span>
  <div class="nav-links">
    <a class="nav-link" routerLink="/main">Početna</a>
    <a class="nav-link" class="Underline"  routerLink="/restaurant">O Nama</a>
    <a class="nav-link" routerLink="/contact">Kontakt</a>
  </div>
</div>


<!--- Restaurant-->
<div class="container">
  <div class="Slika">
    <img src="../assets/Images/Slika3.jpg" alt="Image" class="background-image">
<div class="text-overlay">
  <div class="row" id="Restaurant">
    <div class="col navMenu">
      <h2 class="text-center" >~ Restoran Husin Konak ~</h2>
    </div>
  </div>
  <div class="row bg-light" >
    <div class="col-md-6">
      <h3 class="text-center">O nama</h3>
      <p class="tekst">Husin Konak je novootvoreni restoran koji pruža jedinstveno iskustvo gastronomije i uživanja. Smješten u prelijepom okruženju, naš restoran vas poziva da se prepustite vrhunskoj hrani, gostoljubivosti i ugodnoj atmosferi.

        Naša kuhinja je inspirirana bogatom tradicijom i raznovrsnim okusima. S ponosom predstavljamo autentične lokalne specijalitete, pripremljene od svježih i kvalitetnih sastojaka. Naši šefovi kuhinje strastveno pripremaju jela koja će zadovoljiti i najistančanije nepce.</p>
      <h3 class="text-center">Lokacija</h3>
      <p class="tekst">Posjetite našu lokaciju u prelijepom gradu Bugojnu, smještenom u srcu Bosne i Hercegovine.

        Naš restoran se nalazi u slikovitom okruženju, okružen zelenilom i prirodnim ljepotama koje oduzimaju dah. Bugojno je poznato po svojoj bogatoj povijesti, kulturnoj baštini i gostoljubivosti svojih stanovnika.

        Lako nas možete pronaći na Poriče bb, u blizini rijeke Poričnice. Naša lokacija je povoljno smještena i pruža jednostavan pristup posjetiteljima iz cijele regije.

        Dok se opuštate i uživate u našim jelima, možete uživati u pogledu na prekrasnu okolinu koja će vam pružiti osjećaj mira i harmonije. Bugojno je idealno mjesto za sve ljubitelje prirode, jer u blizini možete pronaći planinske vrhove, rijeke i jezera koja nude razne mogućnosti za aktivnosti na otvorenom.

        Budite naš gost i doživite spoj izvrsne hrane, ljubaznosti osoblja i nevjerojatne lokacije. Očekujemo vas s radošću i s veseljem dijelimo s vama jedinstveno iskustvo restorana Husin Konak u Bugojnu, Bosna i Hercegovina.</p>
    </div>

    <div class="col-md-6 order-md-12 order-1">
      <h3 class="text-center">Kuhinja</h3>
      <p class="tekst">
        Hvala što ste svratili. Mi smo posljednji autentični bosanski restoran u Bugojnu, koji poslužuje ukusnu bosansku kuhinju pripremljenu od strane najboljih šefova. Potrebno je samo nekoliko minuta da pregledate našu web stranicu i pogledate naš meni. Nadamo se da ćete nam se uskoro pridružiti za izvanredno bosansko kulinarsko iskustvo.

        Hvala na razumijevanju!</p>

    </div>
  </div>
  </div>
  </div>
</div>
